@tailwind base;
@tailwind components;
@tailwind utilities;

/*=============================================
=            TYPGRAPHY            =
=============================================*/

@layer base {
  .ty-outline {
    @apply font-medium text-[8.19px] leading-[120%];
  }
  .ty-subtext {
    @apply font-medium text-[10.24px] leading-[120%];
  }
  .ty-subtitle {
    @apply font-bold text-[12.80px] leading-[120%];
  }
  .ty-descriptions {
    @apply font-normal text-[16px] leading-[120%];
  }
  .ty-title {
    @apply text-[16px] font-bold leading-[120%];
  }
  .ty-subheading {
    @apply text-[20px] font-normal leading-[120%];
  }
  .ty-h6 {
    @apply text-[20px] font-extrabold leading-[120%];
  }
  .ty-h5 {
    @apply text-[25px] font-extrabold leading-[120%];
  }
  .ty-h4 {
    @apply text-[31.25px] font-bold leading-[120%];
  }
  .ty-h3 {
    @apply text-[39.06px] font-bold leading-[120%];
  }
  .ty-h2 {
    @apply text-[48.83px] font-semibold leading-[120%];
  }
  .ty-h1 {
    @apply text-[61.04px] font-semibold leading-[120%];
  }
  .ty-display {
    @apply text-[96px] font-medium leading-[120%];
  }

  body {
    @apply bg-[#1c82f7];
  }

  .button-layout {
    @apply shadow-[0_9px_#171921] pt-2 p-3  text-[white] cursor-pointer  active:shadow-[0_5px_#171921] active:translate-y-1 bg-cyan-1 border border-cyan-1;
  }

  .attack-button {
    @apply text-[white] cursor-pointer  active:shadow-[0_5px_#171921] active:translate-y-1 bg-cyan-1 border border-cyan-1;
  }
  .cancel-button {
    @apply text-[white] cursor-pointer  active:shadow-[0_5px_#171921] active:translate-y-1 bg-cyan-1 border border-cyan-1;
  }

  .view-my-island {
    @apply text-[#000] cursor-pointer  active:shadow-[0_0px_#de9b0b] active:translate-y-1;
  }

  .swap-button {
    @apply cursor-pointer shadow-[0_5px_#de9b0b] active:shadow-[0_0px_#de9b0b] active:translate-y-1;
  }
}

.view-my-island {
  border-radius: 8px;
  border: 2px solid var(--neutral-01, #000);
  background: var(--yellow-05, #ffd000);
  box-shadow: 0px -8px 0px 0px #de9b0b inset;
}

.attack-button {
  border-radius: 16px;
  border: 4px solid #000;
  box-shadow:
    0px 4px 0px 0px #000,
    0px -8px 0px 0px #3f5673 inset;
}

.cancel-button {
  border-radius: 16px;
  border: 4px solid #000;
  background: var(--red-06, #de2800);
  box-shadow:
    0px 4px 0px 0px #000,
    0px -8px 0px 0px #731e31 inset;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.attack-island {
  color: #fff;
  text-align: center;

  -webkit-text-stroke-color: red;
  -webkit-text-stroke-color: #e08ab4;
  -webkit-text-stroke-color: rgb(200 100 0);
  text-shadow: 0px 8px 0px #000;
  /* -webkit-text-stroke-width: 4;
  -webkit-text-stroke-color: #000; */
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%; /* 76.8px */
}

.attack-chance {
  box-shadow:
    0px 8px 0px 0px #482b16,
    0px 4px 0px 0px rgba(255, 255, 255, 0.5) inset;
}

.attack-value {
  color: var(--neutral-08, #fff);
  text-shadow: 0px 4px 0px #482b16;

  /* Heading 6 */
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #482b16;

  font-weight: 600;
  line-height: 120%; /* 24px */
}

.attack-text {
  color: var(--neutral-08, #fff);
  text-shadow: 0px 4px 0px #000;

  /* Heading 4 */
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;

  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 37.5px */
}

.apr {
  color: var(--neutral-08, #fff);
  text-shadow: 0px 4px 0px #000;

  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 37.5px */
}

.stroke-letter {
  /* Heading 4 */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.swap-button {
  background: var(--yellow-05, #ffd000);
  /* box-shadow: 0px -4px 0px 0px #de9b0b inset; */
}
